body {
    color: black;
    margin: auto !important;
    max-width: 1150px !important;
}

#nom {
    font-size: 23px;
    vertical-align: middle;
}

.titre {
    text-align: center;
    border: 2px black solid;
    padding-top: 17px;
    box-shadow: 2px 2px 3px #444;
    padding-bottom: 15px;
}

header {
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 30px -30px 12px;
    padding: 36px;
}

#loisir {
    text-align: center;
    margin: 10px 20px 10px;
    background: #C0C0C0;
    border: 3px #263f3f solid;
    box-shadow: 4px 4px 3px #444;
    font-size: 16px;
}

.bordure {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.bordureCom {
    text-align: center;
}

.listpost {
    text-align: center;
}

.textBlogPost {
    color: black;
}

.paddingA {
    padding-top: 50px;
}

.paddingB {
    padding-top: 15px;
}

.paddingFooter {
    padding-top: 250px !important;
}

.color {
    color: #01796F;
}