body {
    color: black;
    margin: auto !important;
    max-width: 1150px !important;
}

#infoSmartphone {
    padding: 15px;
    border: 3px #263f3f solid;
    box-shadow: 2px 2px 3px #444;
    margin: 20px;
    background-size: cover;
}

#fond {
    -webkit-background-size: cover;
    background-size: cover;
    border: 2px black solid;
    box-shadow: 2px 2px 3px #444;
}

#nom {
    font-size: 23px;
    vertical-align: middle;
}

#nom,
table {
    display: inline-block;
    margin: 0px 100px 0px;
}

table {
    color: #263f3f;
    vertical-align: middle;
    font-size: large;
    text-align: center;
    border: 3px #263f3f solid;
    box-shadow: 2px 2px 3px #444;
    padding: 8px;
    font-weight: bold;
    background-image: linear-gradient( 180deg, #fff, #ddd 40%, #ccc);
    font-size: 15px;
}

a:hover {
    color: #9400D3;
}

.titre {
    text-align: center;
    border: 2px black solid;
    padding-top: 17px;
    box-shadow: 2px 2px 3px #444;
    margin-bottom: 0em;
    padding-bottom: 2em;
}

header {
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 30px -30px 12px;
    padding: 36px;
}

#element {
    word-wrap: break-word;
    margin: 27px 2px 40px 3px;
    font-size: 16px;
}

#element p {
    border: 2px black solid;
    padding: 24px 14px 0px 16px;
    box-shadow: 2px 2px 3px #444;
    margin: 8px 10px 21px;
}

.benevolat {
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient( 180deg, #fff, #ddd 40%, #ccc);
    margin: 12px -10px 10px;
    text-align: center;
    font-size: 16px;
}

#loisir {
    text-align: center;
    margin: 10px 20px 10px;
    background: #C0C0C0;
    border: 3px #263f3f solid;
    box-shadow: 4px 4px 3px #444;
    font-size: 16px;
}

.bordure {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.bordureCom {
    text-align: center;
}

.listpost {
    text-align: center;
}

.textBlogPost {
    color: black;
}